body{
    background: rgb(182, 233, 186);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

p{
    font-size: 4rem;
}

.welcome{
    text-align: center;
}

.product{
    display: none;
}

.logo{
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Action{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.856) ;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    /*收缩布局*/
    background: rgb(182, 233, 186);
    height: 2rem;
    align-items: center;
    /*垂直剧中*/
}

/* 鼠标经过时，改变颜色 */
.row:hover {
    background-color: beige;
}

input {
    width: 7%;
    height: 1rem;
}

.button {
    width: 3rem;
    height: 1.5rem;
}

.submit {
    text-align: right;
}

#prompt{
    display: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.856);
}
#prompt p{
    font-size: 2rem;
}